<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bootstrap сайт</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
  <main>
  <div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">Столбцы с иконками</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div class="feature-icon bg-primary bg-gradient">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#collection"></use></svg>
        </div>
        <h2>Избранный заголовок</h2>
        <p>Абзац текста под заголовком, поясняющий заголовок. Мы добавим к нему еще одно предложение и, вероятно, просто продолжим, пока у нас не закончатся слова.</p>
        <a href="#" class="icon-link">
          Призыв к действию
          <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"></use></svg>
        </a>
      </div>
      <div class="feature col">
        <div class="feature-icon bg-primary bg-gradient">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#people-circle"></use></svg>
        </div>
        <h2>Избранный заголовок</h2>
        <p>Абзац текста под заголовком, поясняющий заголовок. Мы добавим к нему еще одно предложение и, вероятно, просто продолжим, пока у нас не закончатся слова.</p>
        <a href="#" class="icon-link">
          Призыв к действию
          <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"></use></svg>
        </a>
      </div>
      <div class="feature col">
        <div class="feature-icon bg-primary bg-gradient">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"></use></svg>
        </div>
        <h2>Избранный заголовок</h2>
        <p>Абзац текста под заголовком, поясняющий заголовок. Мы добавим к нему еще одно предложение и, вероятно, просто продолжим, пока у нас не закончатся слова.</p>
        <a href="#" class="icon-link">
          Призыв к действию
          <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"></use></svg>
        </a>
      </div>
    </div>
  </div>


  <div class="b-example-divider"></div>


  <div class="container px-4 py-5" id="hanging-icons">
    <h2 class="pb-2 border-bottom">Висячие иконки</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"></use></svg>
        </div>
        <div>
          <h2>Избранный заголовок</h2>
          <p>Абзац текста под заголовком, поясняющий заголовок. Мы добавим к нему еще одно предложение и, вероятно, просто продолжим, пока у нас не закончатся слова.</p>
          <a href="#" class="btn btn-primary">
            Основная кнопка
          </a>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#cpu-fill"></use></svg>
        </div>
        <div>
          <h2>Избранный заголовок</h2>
          <p>Абзац текста под заголовком, поясняющий заголовок. Мы добавим к нему еще одно предложение и, вероятно, просто продолжим, пока у нас не закончатся слова.</p>
          <a href="#" class="btn btn-primary">
            Основная кнопка
          </a>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#tools"></use></svg>
        </div>
        <div>
          <h2>Избранный заголовок</h2>
          <p>Абзац текста под заголовком, поясняющий заголовок. Мы добавим к нему еще одно предложение и, вероятно, просто продолжим, пока у нас не закончатся слова.</p>
          <a href="#" class="btn btn-primary">
            Основная кнопка
          </a>
        </div>
      </div>
    </div>
  </div>
</body>
</main>
</html>