{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block body %}
<div class="container px-4 py-5">
  <div class="card text-center">
    <div class=" card-body py-5 text-center container">
      <div class="position-relative overflow-hidden text-center bg-body-tertiary">
        <!-- <div class="col-md-5 p-lg-5 mx-auto my-5"> -->
          <h1 class="fs-2 text">Робот-уборщик</h1>
        <!-- </div> -->
        <div class="product-device shadow-sm d-none d-md-block"></div>
        <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}