'frw_rgt_dst'       : Расстояние по сонару
'frw_lft_dst'       :
'lft_frw_dst'       :
'lft_bkw_dst'       :
'rgt_frw_dst'       :
'rgt_bkw_dst'       :
'v_battery'         : Напряжение на батарее
'current_lft_motor' : Ток на моторе
'current_rgt_motor' :
'frw_rgt_ik'        : Расстояние по ик датчику
'frw_lft_ik'        :
'lft_ik'            :
'rgt_ik'            :
'bkw_ik'            :
'angle_z'           : Угол по гироскопу
'coords'            : Координаты
'coords0'           :
'drive_state'       : Состояние системы движения (строка)
'passed'            : Пройденный путь
'lft_pwm'           : ШИМ мотора
'rgt_pwm'           :
'v'                 : Скорость
'frw_lft_ld'        : Расстояния по лидару
'frw_mdl_ld'        :
'frw_rgt_ld'        :
'lft_frw_ld'        :
'lft_mdl_ld'        :
'lft_bck_ld'        :
'bck_lft_ld'        :
'bck_mdl_ld'        :
'bck_rgt_ld'        :
'rgt_frw_ld'        :
'rgt_mdl_ld'        :
'rgt_bck_ld'        :